/*Variables de colores*/
:root {
  --color-primario-dark: #0F2167;
  --color-secundario-dark: #3559E0;
  --color-terciario-dark: #4CB9E7;
  --color-back-dark: #FFECD6;
  --color-hightlight-dark: #C21292;

  --color-primario-light: #FFECD6;
  --color-secundario-light: #4CB9E7;
  --color-terciario-light: #3559E0;
  --color-back-light: #0F2167;
  --color-hightlight-light: #C21292;
}

/*  Código nuestro */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
}

div#root {
  width: 100%;
}

body.dark {
  background: var(--color-back-light);
  color: var(--color-primario-light);
}

body.light {
  background: var(--color-back-dark);
  color: var(--color-primario-dark);
}

body.light header, body.light footer {
  background: var(--color-secundario-light);
  color: var(--color-terciario-light);
}

body.dark header, body.dark footer {
  background: var(--color-secundario-dark);
  color: var(--color-terciario-dark);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  height: 70px;
}

header>a:first-child {
  text-decoration: none;
  margin: 0;
  margin-left: 15%;
  width: 25%;
  padding: 0;
}

header h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
}

header nav {
  width: 40%;
}

label.switch {
  margin-right: 15%;
}

body.light header h1, body.light header a, body.light footer {
  color: var(--color-primario-light);
}

body.dark header h1, body.dark header a, body.dark footer {
  color: var(--color-primario-dark);
}

body.light .userInitials {
  background-color: var(--color-hightlight-light);
  color: var(--color-primario-light);
}

body.dark .userInitials {
  background-color: var(--color-hightlight-dark);
  color: var(--color-primario-dark);
}

nav ul {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}

.userInitials {
  font-family: 'Roboto', sans-serif;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

/* dark-light switch starting */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

body.light .slider {
  background-color: var(--color-primario-light);
}

body.dark .slider {
  background-color: var(--color-primario-dark);
}

body.light .slider:before {
  background-color: var(--color-primario-dark);
}

body.dark .slider:before {
  background-color: var(--color-primario-light);
}

input:checked + .slider {
  background-color: var(--color-back-light)
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
*/
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* dark-light switch ending */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 70px;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 0;
}

/*main*/

main {
  min-height: calc(100dvh - 190px);
  width: 70%;
  margin: 0 auto;
}