/*  Código nuestro */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
}

div#root {
  width: 100%;
}

body.dark {
  background: rgb(136,136,136);
  background: linear-gradient(90deg, rgb(73, 73, 73) 0%, rgba(51,51,51,1) 50%, rgba(73, 73, 73, 1) 100%);
  color: #fff;
}

body.light {
  background: rgb(187,187,187);
  background: linear-gradient(90deg, rgba(187,187,187,1) 0%, rgba(255,255,255,1) 50%, rgba(187,187,187,1) 100%);
  color: #333;
}

body.light header, body.light footer {
  background-color: #1282A2;
  
}

body.dark header, body.dark footer {
  background-color: #001F54;
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  height: 70px;
}

header h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2em;
  margin: 0;
  margin-left: 15%;
  width: 25%;
  padding: 0;
}

header nav {
  width: 40%;
}

label.switch {
  margin-right: 15%;
}

body.light header h1, body.light header a, body.light footer {
  color: black;
}

body.dark header h1, body.dark header a, body.dark footer {
  color: white;
}

body.light .userInitials {
  background-color: orangered;
  color: white;
}

body.dark .userInitials {
  background-color: pink;
  color: black;
}

nav ul {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 1em;
  cursor: pointer;
}

.userInitials {
  color: white;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

/* dark-light switch starting */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
*/
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* dark-light switch ending */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  height: 70px;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 0;
}

/*main*/

main {
  min-height: calc(100dvh - 190px);
  width: 70%;
  margin: 0 auto;
}